<header class="header">
  <div class="container header__container">
      <a href="./#hero" class="header__logo">
          Phi-Orient<span class="header__dot">.</span>
      </a>

      <nav class="header__nav">
          <ul class="header__menu">
              <li class="header__item"><a href="./#hero" class="header__link">Главная</a></li>
              <li class="header__item"><a href="./#about" class="header__link">О платформе</a></li>
              <li class="header__item"><a href="./#solutions" class="header__link">Решения</a></li>
              <li class="header__item"><a href="./#innovations" class="header__link">Инновации</a></li>
              <li class="header__item"><a href="./#blog" class="header__link">Блог</a></li>
              <li class="header__item"><a href="./#career" class="header__link">Карьера</a></li>
              <li class="header__item"><a href="./#faq" class="header__link">FAQ</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="btn btn--primary">
              Начать сейчас
          </a>
          <button class="header__burger" aria-label="Открыть меню">
              <span></span>
              <span></span>
          </button>
      </div>
  </div>
</header>